* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --my-color: #FCAC45;
    --bg-dark: #F9F9F9;
    /* Varibables for colors */
}

body,
html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /* To remove weird margin on mobile view */
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}

.text-center {
    text-align: center;
}

/* ------ TOP/LANDING ------ */

.top-container ul {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: column;
    width: 100%;
    background-color: #434343;
    list-style-type: none;
    overflow: hidden;
    text-transform: uppercase;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 6px;
    padding-top: 24px;
}

.top-container li a {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 25px 15px;
}

.top-container li a,
.header {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.top-container li a:hover {
    background: none;
    color: var(--my-color);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.landing {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*  fixed = parallax, scroll = normal*/
    background-attachment: fixed;
    background-image: url('img/nyc.jpg');
    min-height: 100%;
}

.land-button {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #000;
    font-size: 1.6rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    z-index: 2;
}

/* ------ ABOUT ------ */
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--bg-dark);
    overflow: hidden;
}

.about-pic {
    position: relative;
    background-image: url(img/profile-pic.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.about-me h2 {
    padding: 0px 50px;
}

.about-me p {
    padding: 50px;
    font-size: 1.2rem;
    text-align: justify;
}

/* ------ BUTTON ------ */
.button {
    display: inline-block;
    color: #fff;
    background: none;
    padding: 25px 80px;
    margin: 15px 30px;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 3px solid #fff;
    overflow: hidden;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-dark {
    border: 3px solid #000;
    color: #000;
}

.button:hover, .links a:hover {
    background-color: rgba(252, 172, 69, 1.0)
        /*var(--my-color)*/
    ;
    color: #fff;
}

/* ------ SECTIONS ------ */
.section-padding {
    padding: 80px 0px;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 600;
    border-bottom: 4px double var(--my-color);
    border-radius: 25px;
    font-size: 1.9rem;
    margin: 0 auto;
    padding: 10px 0;
    width: 350px;
    margin-bottom: 30px;
}

.section-title p {
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

/* ------ SKILLS ------ */
#skills {
    background-color: var(--bg-dark);
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}

.skills-detail {
    height: 100px;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    justify-self: center;
}

.skills-detail i {
    font-size: 3.8rem;
}

.skills-detail h3 {
    margin-top: 10px;
}

/* ------ PORTFOLIO ------ */

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.project {
    justify-self: center;
}

.project h2 {
    margin-top: 20px;
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.links a{
    display: inline-block;
    color: #000;
    background: none;
    padding: 5px 30px;
    margin: 10px 5px;
/*    font-size: inherit;*/
    font-weight: 400;
    text-decoration: none;
/*    letter-spacing: 1px;*/
    border-radius: 50px;
    border: 2px solid #000;
/*    overflow: hidden;*/
/*    outline: none;*/
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/*
.project a {
    text-decoration: none;
    font-weight: 300;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    padding: 10px;
    place-self: stretch center;
}
*/

/*
.project a:hover {
    font-weight: 500;
    color: var(--my-color);
        text-decoration: underline;
    text-decoration-color: #000;
}
*/

/* ------ CONTACT ------ */
#contact {
    background-color: var(--bg-dark);
}

/* ------ SOCIAL ICONS ------ */
.social-icon {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.social-icon:before,
.social-icon:after {
    content: " ";
    display: table;
}

.social-icon:after {
    clear: both;
}

.social-icon li {
    display: inline-block;
    margin: 0px 4px;
}

.social-icon li a {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    border: 0 none;
    border-radius: 5px;
    font-size: 2.5rem;
}

.social-icon li a .fa {
    line-height: inherit;
}

.icon-link {
    background-color: #666;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    box-sizing: content-box;
}

.icon-link.fill.linkedin {
    background-color: #007bb6;
}

.icon-link.fill.linkedin:hover {
    background-color: #fff;
}

.icon-link.fill.linkedin:hover .fa-linkedin {
    color: #007bb6;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.github {
    background-color: #444444;
}

.icon-link.fill.github:hover {
    background-color: #fff;
}

.icon-link.fill.github:hover .fa-github {
    color: #444444;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    height: 56px;
    line-height: 56px;
    width: 56px;
    background-color: #fff;
}

.icon-link:hover.linkedin {
    border: 2px solid #007bb6;
}

.icon-link:hover.github {
    border: 2px solid #444444;
}

.icon-link:hover .fa-linkedin {
    color: #007bb6;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-github {
    color: #444444;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link .fa {
    color: #fff;
    line-height: 60px;
    font-size: 2.2rem;
}

/* ------ FOOTER ------ */
footer {
    background: #000;
    padding: 30px 0px;
    color: #f8f8f8;
    font-size: 1rem;
}

/* ------ MEDIA QUERIES ------ */
@media only screen and (min-width: 1100px) {
    .about-pic {
        background-position: center;
        background-size: 56%;
    }
}

@media only screen and (max-width: 830px) {
    .top-container ul {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: row;
    }

    .header {
        grid-column-start: 2;
        grid-column-end: 5;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 5px;
        padding-top: 20px;
    }

    .small-screen {
        display: none;
    }

    .top-container li a {
        font-size: 0.6rem;
        font-weight: 500;
        padding: 20px 15px;
    }
}

@media only screen and (max-width: 769px) {
    .section-padding {
        padding: 40px 0px;
    }

    #about {
        grid-template-columns: repeat(1, 1fr);
        background-color: #fff;
    }

    .about-pic {
        display: none;
    }

    .details-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 555px) {
    .landing {
        background-attachment: scroll;
    }

    .social-icon li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 1.2rem;
    }

    .section-title h2 {
        font-size: 1rem;
        font-weight: 500;
        width: 200px;
    }

    .section-title p {
        font-weight: 300;
        font-size: 0.8rem;
    }

    .about-me h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    .about-me p {
        padding: 20px;
        font-size: 0.9rem;
        font-weight: 300;
    }

    .skills-detail {
        height: 80px;
        width: 100px;
        text-align: center;
        padding: 10px;
        font-size: 1rem;
    }

    .skills-detail i {
        font-size: 3rem;
    }

    .skills-detail h3 {
        font-weight: 500;
    }

    .button {
        padding: 15px 30px;
        font-weight: 600;
        font-size: 0.6rem;
    }

}
